div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction:column-reverse;
}
#box1{
    background-color: blueviolet;
}
#box2{
    background-color:chartreuse;
}
#box3{
    background-color:coral;
}
#box4{
    background-color:gold;
}