div{
    height: 100px;
    width: 100px;
    background-image:url("WhatsApp Image 2023-11-16 at 10.05.10 PM.jpeg") ;
    background-size: cover;
    border-radius: 50px;
    position: fixed;
    right: 0%;
    top: 70px;

}