 *{
    font-family: 'Times New Roman';
 }
 h1{
    text-align: center;
    text-transform: capitalize;
}
h2{
    text-align: center;
    text-transform:lowercase;
}
#outer{
    font-size: 25px;
    
}
#inner{
    font-size: 10px;

}